.section-about {
  padding: 12rem 2rem;
  padding-bottom: 18rem;
  text-align: center; }
  .section-about__heading {
    font-size: 3rem;
    margin-bottom: 3rem; }
  .section-about__intro {
    width: 60rem;
    margin: 0 auto;
    text-align: justify; }
  .section-about__text {
    font-size: 1.6rem;
    line-height: 1.8; }
  .section-about__text:not(:last-child) {
    margin-bottom: 0.5rem; }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #555; }

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(2, 132, 168, 0.9), rgba(2, 132, 168, 0.9)), url(../img/hero-min.jpg);
  background-size: cover;
  background-repeat: none;
  background-position: center;
  background-attachment: fixed;
  color: rgba(255, 255, 255, 0.9); }
  .header__title {
    font-size: 10rem;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    animation: moveInLeft 1s ease; }
  .header__sub-title {
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 5rem;
    animation: moveInRight 1s ease; }
  .header__profile-pic {
    display: block;
    width: 12rem;
    height: auto;
    border-radius: 10rem;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);
    animation: moveInBottom 0.7s ease; }

.social,
.nav {
  list-style: none;
  display: flex;
  animation: moveInBottom 0.7s ease; }

.social {
  margin-top: 3rem;
  position: relative; }
  .social__item:not(:last-child) {
    margin-right: 2rem; }
  .social__link {
    text-decoration: none;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border-radius: 100%;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center; }
    .social__link:hover {
      background-color: rgba(255, 255, 255, 0.9); }
    .social__link svg {
      margin: 0 auto;
      display: block;
      height: 2rem;
      width: 2rem;
      fill: rgba(255, 255, 255, 0.5);
      transition: all 0.2s ease; }
  .social__link:hover svg {
    fill: rgba(2, 132, 168, 0.9); }

.nav {
  margin-top: 6rem;
  position: relative; }
  .nav__item:not(:last-child) {
    margin-right: 3rem; }
  .nav__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
    text-transform: uppercase; }
  .nav__link:hover {
    color: rgba(255, 255, 255, 0.9); }
  .nav::before {
    content: '';
    position: absolute;
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    width: 50rem;
    transform: translateX(-7.5rem) translateY(-2rem); }

.section-skills {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(to bottom, rgba(2, 132, 168, 0.9), rgba(2, 132, 168, 0.9)), url(../img/pattern.png);
  font-size: 1.6rem; }
  .section-skills__box {
    border: 1px solid #fff;
    border-radius: 1rem;
    background-color: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.7);
    margin-top: -6rem;
    padding: 2rem; }
  .section-skills__box:not(:last-child) {
    margin-right: 1rem; }
  .section-skills__icon {
    text-align: center; }
  .section-skills__icon svg {
    width: 5rem;
    height: 5rem;
    fill: rgba(2, 132, 168, 0.9); }
