@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.6; }

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(2, 132, 168, 0.9), rgba(2, 132, 168, 0.9)), url(../img/hero2.jpg);
  background-size: cover;
  background-repeat: none;
  background-position: center;
  background-attachment: fixed;
  color: rgba(255, 255, 255, 0.9); }
  .header__title {
    font-size: 10rem;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
    animation: moveInLeft 1s ease; }
  .header__sub-title {
    font-size: 3rem;
    font-weight: 100;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 5rem;
    animation: moveInRight 1s ease; }
  .header__profile-pic {
    display: block;
    width: 12rem;
    height: auto;
    border-radius: 10rem;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.7);
    animation: moveInBottom 0.7s ease; }

.social,
.nav {
  list-style: none;
  display: flex;
  animation: moveInBottom 0.7s ease; }

.social {
  margin-top: 3rem;
  position: relative; }
  .social__item:not(:last-child) {
    margin-right: 2rem; }
  .social__link {
    text-decoration: none; }
    .social__link svg {
      height: 2rem;
      width: 2rem;
      fill: rgba(255, 255, 255, 0.5);
      transition: all 0.2s ease; }
  .social__link:hover svg {
    fill: rgba(255, 255, 255, 0.9); }

.nav {
  margin-top: 6rem;
  position: relative; }
  .nav__item:not(:last-child) {
    margin-right: 3rem; }
  .nav__link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s ease;
    text-transform: uppercase; }
  .nav__link:hover {
    color: rgba(255, 255, 255, 0.9); }
  .nav::before {
    content: '';
    position: absolute;
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    width: 50rem;
    top: -1.5rem;
    left: -6.5rem; }
