.section-about {
  padding: 10rem 2rem;
  text-align: center; }
  .section-about__heading {
    font-size: 3rem;
    margin-bottom: 3rem; }
  .section-about__intro {
    width: 60rem;
    margin: 0 auto;
    text-align: justify; }
  .section-about__text {
    font-size: 1.6rem;
    line-height: 1.8; }
  .section-about__text:not(:last-child) {
    margin-bottom: 0.5rem; }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #444; }

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(2, 132, 168, 0.9), rgba(2, 132, 168, 0.9)), url(../img/hero-min.jpg);
  background-size: cover;
  background-repeat: none;
  background-position: center;
  background-attachment: fixed;
  color: rgba(255, 255, 255, 0.9); }
  .header__title {
    font-size: 10rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    animation: moveInLeft 1s ease; }
  .header__sub-title {
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-bottom: 5rem;
    animation: moveInRight 1s ease; }
  .header__profile-pic {
    display: block;
    width: 12rem;
    height: auto;
    border-radius: 10rem;
    box-shadow: 0px 0px 3px rgba(255, 255, 255, 0.5);
    animation: moveInBottom 0.7s ease; }

.social,
.nav {
  list-style: none;
  display: flex;
  animation: moveInBottom 0.7s ease; }

.social {
  margin-top: 3rem;
  position: relative; }
  .social__item:not(:last-child) {
    margin-right: 2rem; }
  .social__link {
    text-decoration: none;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border-radius: 100%;
    transition: all 0.2s ease;
    display: flex;
    justify-content: center;
    align-items: center; }
    .social__link:hover {
      background-color: rgba(255, 255, 255, 0.9); }
    .social__link svg {
      margin: 0 auto;
      display: block;
      height: 2rem;
      width: 2rem;
      fill: rgba(255, 255, 255, 0.5);
      transition: all 0.2s ease; }
  .social__link:hover svg {
    fill: #0284a8; }

.nav {
  margin-top: 6rem;
  position: relative; }
  .nav__item:not(:last-child) {
    margin-right: 4rem; }
  .nav__link {
    position: relative;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
    text-transform: uppercase; }
  .nav__link::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    bottom: -1.5rem;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.3s ease; }
  .nav__link:hover {
    color: rgba(255, 255, 255, 0.9); }
  .nav__link:hover:before {
    visibility: visible;
    transform: scaleX(1); }
  .nav::before {
    content: '';
    position: absolute;
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    width: 50rem;
    transform: translateX(-9rem) translateY(-2rem); }

.section-skills {
  background-image: linear-gradient(to bottom, rgba(2, 132, 168, 0.7), rgba(2, 132, 168, 0.7)), url(../img/pattern.png);
  font-size: 1.6rem;
  padding: 10rem 0;
  padding-bottom: 14rem; }
  .section-skills__heading {
    background: #fff;
    width: 40rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 1rem;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1); }
    .section-skills__heading span {
      display: inline-block; }
  .section-skills__container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #fff;
    max-width: 120rem;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1); }
  .section-skills__box {
    padding: 6rem 4rem 2rem 4rem;
    flex: 1; }
  .section-skills__box:not(:last-child) {
    border-right: 1px solid #e3e3e3; }
  .section-skills__icon {
    text-align: center;
    margin-bottom: 2rem; }
  .section-skills__icon svg {
    width: 5rem;
    height: 5rem;
    fill: #0284a8; }
  .section-skills__heading--box {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem; }
  .section-skills__intro {
    text-align: center;
    margin-bottom: 4rem; }
  .section-skills__feature {
    text-align: center;
    margin-bottom: 1rem;
    color: #0284a8; }
  .section-skills__list {
    list-style: none;
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 2rem; }

.section-work {
  padding: 10rem 0; }
  .section-work__heading {
    background: #fff;
    width: 40rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 1rem;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1); }
  .section-work__grid {
    display: flex;
    justify-content: center;
    margin-top: 10rem; }
  .section-work__project {
    flex: 1;
    margin-right: 3rem;
    border: 1px solid #eee;
    min-height: 25rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 0px 10px #eee;
    text-align: center;
    line-height: 25rem; }
  .section-work__project:first-child {
    margin-left: 3rem; }
  .section-work__title {
    font-size: 3.5rem;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5rem; }
  .section-work__project--easymeal {
    background-image: linear-gradient(rgba(230, 126, 34, 0.8), rgba(230, 126, 34, 0.8)), url(../img/easymeal.jpg);
    background-size: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease; }
    .section-work__project--easymeal:hover {
      background-size: 45rem; }
  .section-work__project--recipify {
    background-image: linear-gradient(rgba(139, 195, 74, 0.8), rgba(139, 195, 74, 0.8)), url(../img/recipify.jpg);
    background-size: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease; }
    .section-work__project--recipify:hover {
      background-size: 45rem; }
  .section-work__project--jarvis {
    background-image: linear-gradient(rgba(103, 58, 183, 0.8), rgba(103, 58, 183, 0.8)), url(../img/jarvis.jpg);
    background-size: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease; }
    .section-work__project--jarvis:hover {
      background-size: 45rem; }
