$color-grey-medium: rgba(255, 255, 255, 0.5);
$color-grey-light: rgba(255, 255, 255, 0.9);
$color-grey-dark: rgba(0, 0, 0, 0.7);
// $color-blue-dark: rgba(#0284a8, 0.9);
$color-blue-dark: #0284a8;
$light-blue: rgba(#02bec4, 0.5);
$color-font: #444;

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: subpixel-antialiased;
  // -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: $color-font;
}
