.section-skills {
  background-image: linear-gradient(to bottom, rgba($color-blue-dark, 0.7), rgba($color-blue-dark, 0.7)),
    url(../img/pattern.png);
  font-size: 1.6rem;
  padding: 10rem 0;
  padding-bottom: 14rem;

  &__heading {
    background: #fff;
    width: 40rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 1rem;
    // transform: skew(-10deg);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);

    span {
      display: inline-block;
      // transform: skew(10deg);
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #fff;
    max-width: 120rem;
    // box-shadow: 0px 0px 2px #666;
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
  }

  &__box {
    padding: 6rem 4rem 2rem 4rem;
    flex: 1;
  }

  &__box:not(:last-child) {
    border-right: 1px solid #e3e3e3;
  }

  &__icon {
    text-align: center;
    margin-bottom: 2rem;
  }

  &__icon svg {
    width: 5rem;
    height: 5rem;
    fill: $color-blue-dark;
  }

  &__heading--box {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__intro {
    text-align: center;
    margin-bottom: 4rem;
  }

  &__feature {
    text-align: center;
    margin-bottom: 1rem;
    color: $color-blue-dark;
  }

  &__list {
    list-style: none;
    text-align: center;
    margin-bottom: 2rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 2rem;
  }
}
