.section-work {
  padding: 10rem 0;

  &__heading {
    background: #fff;
    width: 40rem;
    text-align: center;
    font-size: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 1rem;
    box-shadow: 0 0 0 10px rgba($color-blue-dark, 0.6);
  }

  &__grid {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
  }

  &__project {
    flex: 1;
    margin-right: 3rem;
    height: 25rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 0px 3px #eee;
    text-align: center;
    // line-height: 25rem;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.5s ease;

    &:hover {
      background-size: calc(100% + 3rem);
    }
  }

  &__project:first-child {
    margin-left: 3rem;
  }

  &__title {
    font-size: 4rem;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
  }

  &__project--easymeal {
    // background-image: linear-gradient(rgba(#e67e22, 0.9), rgba(#e67e22, 0.9)), url(../img/easymeal.jpg);
    background-image: linear-gradient(rgba(#0284a8, 0.9), rgba(#0284a8, 0.9)), url(../img/easymeal.jpg);
  }

  &__project--recipify {
    // background-image: linear-gradient(rgba(#8bc34a, 0.9), rgba(#8bc34a, 0.9)), url(../img/recipify.jpg);
    background-image: linear-gradient(rgba(#0284a8, 0.9), rgba(#0284a8, 0.9)), url(../img/recipify.jpg);
  }

  &__project--jarvis {
    // background-image: linear-gradient(rgba(#673ab7, 0.9), rgba(#673ab7, 0.9)), url(../img/jarvis.jpg);
    background-image: linear-gradient(rgba(#0284a8, 0.9), rgba(#0284a8, 0.9)), url(../img/jarvis.jpg);
  }

  &__list {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: center;
    // align-items: center;
  }

  &__item {
    // padding: 0;
    margin-right: 3rem;
  }

  &__link svg {
    width: 2rem;
    height: 2rem;
  }
}
